<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212786517198-07q0m80tmfkro7jjsa5f8fbnm1tqo9pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212786517198-07q0m80tmfkro7jjsa5f8fbnm1tqo9pr</string>
	<key>API_KEY</key>
	<string>AIzaSyBUL_4C7PWtEgRiWceL9ZD0kIM58TJrYyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>212786517198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStorageApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-f4526</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-f4526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212786517198:ios:3eeb8e4ae7b3ade87d6c9f</string>
</dict>
</plist>